<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">


    <p>Creator: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>The city: <%= @event.location %></p>
    <p><%= @event.capacity %> <%= @event.capacity > 1 ? "People" : "Person" %></p>


    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <h4>Dates</h4>
    <p>The beginning: <%= @event.starts_at.strftime("%d-%m-%y") %></p>
    <p>The end: <%= @event.ends_at.strftime("%d-%m-%y") %></p>

    <h4>Price</h4>
    <p><%= @event.price %></p>

    <h4>Bonuses</h4>
        <ul class="bonuses">
          <li><%= !@event.includes_food ? ("<s>food</s>").html_safe : "food"%></li>
          <li><%= !@event.includes_drinks ? ("<del>drinks</del>").html_safe : "drinks" %></li>
        </ul>
    <h4>Categories</h4>
    <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
    <% end %>

    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
    <%= image_tag photo.image %>
    <% end %>
  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
